.client-order-page {
    width: 100vw;
    min-height: 100vh;
    background-color: #3d6ac5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-page {
    height: 200px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px black;
}

.client-page input {
    border-radius: 15px;
    height: 35px;
    font-size: 17px;
    padding: 0px 10px;
}

.client-page button {
    height: 45px;
    border-radius: 15px;
    border-style: none;
    background-color: gray;
    color: white;
    font-size: 20px;
}

.client-page button:hover {
    background-color: rgb(88, 88, 88);
}

