.service-box {
    width: 250px;
    height: 200px;
    background-color: gray;
    display: flex;
    flex-direction: column;

    .service-box-header {
        width: 100%;
        height: 150px;
        background-color: rgb(188, 188, 188);
    }

    .service-box-buttons {
        width: 100%;
        height: 50px;

        .edit-btn {
            height: 100%;
            background-color: green;
        }

        .delete-btn {
            height: 100%;
            background-color: red;
        }
    }
}